@{
    ViewData["Title"] = "Menu Page";
}

<head>
    <meta name="viewport" content="width=device-width">

</head>
<body class="container-fluid background-wood">


    <div class="container">
        <div class="row">
            <div class="col-sm">
                <div>
                    
                </div>
            </div>
            <div class="col-sm">
                <div>

                    <img src="~/image/smoothieSign.jpg" alt="Smoothie Sign" class="mx-auto d-block img-fluid mainImage">

                </div>
            </div>
            <div class="col-sm">
               
            </div>
        </div>
    </div>
    <!-- This is a comment -->
    <!-- This is a comment -->
 
</body>


